__pycache__/
*.py[cod]

.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/
.ruff_cache/

docs/_build/
*.log
.DS_Store

outputs/
inputs/
data/
datasets/

# Python build artifacts
dist/
build/
*.egg-info/
__pycache__/
*.pyc
docs/_build/
*.zip
